{
	"input_base_dir": "/users/mgloud/projects/insulin_resistance/data/gwas/raw/sumstats/",
	"output_base_dir": "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats",
	"studies":
	[

                {
                        "study_info": "",
                        "output_file": "MI_adjBMI",
                        "traits":
                        {
                                "MI_adjBMI": ["MI_adjBMI.txt"]
                        },
                        "delimiter": "\t",
                        "rsid_index": "17",
                        "pvalue_index": "10",
                        "effect_index": "8",
                        "se_index": "9",
			"direction_index": "8",
                        "effect_allele_index": "21",
                        "non_effect_allele_index": "20"
                },
                {
                        "study_info": "",
                        "output_file": "MI",
                        "traits":
                        {
                                "MI": ["MI.txt"]
                        },
                        "delimiter": "\t",
                        "rsid_index": "17",
                        "pvalue_index": "10",
                        "effect_index": "8",
                        "se_index": "9",
			"direction_index": "8",
                        "effect_allele_index": "21",
                        "non_effect_allele_index": "20"
                },
		{
			"study_info": "",
			"output_file": "WHR_Mixed",
			"traits":
			{
				"WHR_Mixed": ["WHR_Mixed.txt.gz"]
			},
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "direction_index": "7",
                        "delimiter": "\t",
                        "rsid_index": "1",
                        "chr_index": "-1",
                        "snp_pos_index": "-1",
                        "pvalue_index": "9",
                        "skip_rows": "8",
                        "no_header": "True",
                        "effect_index": "7",
                        "se_index": "8"
                },
		{
			"study_info": "",
			"output_file": "WHR_European",
			"traits":
			{
				"WHR_European": ["WHR_European.txt.gz"]
			},
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "direction_index": "7",
                        "delimiter": "\t",
                        "rsid_index": "1",
                        "chr_index": "-1",
                        "snp_pos_index": "-1",
                        "pvalue_index": "9",
                        "skip_rows": "8",
                        "no_header": "True",
                        "effect_index": "7",
                        "se_index": "8"
                },

		{
			"study_info": "",
			"output_file": "LDL_Mixed",
			"traits":
			{
				"LDL_Mixed": ["LDL_Mixed.txt.gz"]
			},
		        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "direction_index": "6",
                        "delimiter": "\t",
                        "rsid_index": "3",
                        "chr_index": "-1",
                        "snp_pos_index": "-1",
                        "pvalue_index": "9",
                        "effect_index": "6",
                        "se_index": "7"
                },
		{
			"study_info": "",
			"output_file": "T2D_DIAGRAM_European",
			"traits":
			{
				"T2D_DIAGRAM_European": ["T2D.txt"] 
			},
                        "effect_allele_index": "2",
                        "non_effect_allele_index": "3",
                        "direction_index": "4",
                        "delimiter": "\t",
                        "chr_index": "1",
                        "snp_pos_index": "1",
                        "pvalue_index": "6",
                        "snp_split_char": ":",
                        "effect_index": "4",
                        "se_index": "5"
		},
		{
			"study_info": "",
			"output_file": "2hrGlu_MAGIC_Europeans",
			"traits":
			{
				"2hrGlu_MAGIC_Europeans": ["2hrGlu_MAGIC_Europeans_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "6",
			"direction_index": "5",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},

		{
			"study_info": "",
			"output_file": "BMI_GIANT_Europeans",
			"traits":
			{
				"BMI_GIANT_Europeans": ["BMI_GIANT_Europeans_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "7",
			"direction_index": "5",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},

		{
			"study_info": "",
			"output_file": "BMI_GIANT_Mixed",
			"traits":
			{
				"BMI_GIANT_Mixed": ["BMI_GIANT_Mixed_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "7",
			"direction_index": "5",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},


		{
			"study_info": "",
			"output_file": "CHD_CARDIoGRAMplusC4D_Mixed",
			"traits":
			{
				"CHD_CARDIoGRAMplusC4D_Mixed": ["CHD_CARDIoGRAMplusC4D_Mixed_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "2",
			"snp_pos_index": "3",
			"pvalue_index": "11",
			"direction_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},

		{
			"study_info": "",
			"output_file": "FastGlu_MAGIC_Europeans",
			"traits":
			{
				"FastGlu_MAGIC_Europeans": ["FastGlu_MAGIC_Europeans_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "6",
			"direction_index": "4",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},

		{
			"study_info": "",
			"output_file": "FastInsu_adjBMI_MAGIC_Europeans",
			"traits":
			{
				"FastInsu_adjBMI_MAGIC_Europeans": ["FastInsu_adjBMI_MAGIC_Europeans_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "6",
			"direction_index": "4",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},

		{
			"study_info": "",
			"output_file": "FastInsu_MAGIC_Europeans",
			"traits":
			{
				"FastInsu_MAGIC_Europeans": ["FastInsu_MAGIC_Europeans_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "6",
			"direction_index": "4",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},


		{
			"study_info": "",
			"output_file": "HDL_GCLC_Mixed",
			"traits":
			{
				"HDL_GCLC_Mixed": ["HDL_GCLC_Mixed_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "3",
			"pvalue_index": "9",
			"direction_index": "6",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "TG_GCLC_Mixed",
			"traits":
			{
				"TG_GCLC_Mixed": ["TG_GCLC_Mixed_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "3",
			"pvalue_index": "9",
			"direction_index": "6",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHRadjBMI_GIANT_Europeans",
			"traits":
			{
				"WHRadjBMI_GIANT_Europeans": ["WHRadjBMI_GIANT_Europeans_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "7",
			"direction_index": "5",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},

		{
			"study_info": "",
			"output_file": "WHRadjBMI_GIANT_Mixed",
			"traits":
			{
				"WHRadjBMI_GIANT_Mixed": ["WHRadjBMI_GIANT_Mixed_AllSNPs.txt"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"pvalue_index": "7",
			"direction_index": "5",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},
		{
			"study_info": "",
			"output_file": "MAGIC_ISI_Model_1_AgeSexOnly.txt",
			"traits":
			{
				"MAGIC_ISI_Model_1_AgeSexOnly.txt": ["MAGIC_ISI_Model_1_AgeSexOnly.txt"] 
			},
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "direction_index": "7",
                        "delimiter": "\t",
                        "rsid_index": "1",
                        "pvalue_index": "9",
                        "effect_index": "7",
                        "se_index": "8"
		},
		{
			"study_info": "",
			"output_file": "MAGIC_ISI_Model_2_AgeSexBMI.txt",
			"traits":
			{
				"MAGIC_ISI_Model_2_AgeSexBMI.txt": ["MAGIC_ISI_Model_2_AgeSexBMI.txt"] 
			},
                        "effect_allele_index": "4",
                        "non_effect_allele_index": "5",
                        "direction_index": "7",
                        "delimiter": "\t",
                        "rsid_index": "1",
                        "pvalue_index": "9",
                        "effect_index": "7",
                        "se_index": "8"
		},
		{
			"study_info": "",
			"output_file": "HDL_GLGC_Expanded",
			"rsid_split":
			{
				"splitter": ":",
				"index": "1"
			},
			"traits":
			{
				"HDL_GLGC_Expanded": ["MVP-2019/hdl.glgc+mvp.12jun2019.fe-invvar-meta1.tbl.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"se_index": "9",
			"effect_index": "8",
			"pvalue_index": "10",
			"direction_index": "8",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},
		{
			"study_info": "",
			"output_file": "TG_GLGC_Expanded",
			"rsid_split":
			{
				"splitter": ":",
				"index": "1"
			},
			"traits":
			{
				"TG_GLGC_Expanded": ["MVP-2019/tg.glgc+mvp.12jun2019.fe-invvar-meta1.tbl.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"se_index": "9",
			"effect_index": "8",
			"pvalue_index": "10",
			"direction_index": "8",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},
		{
			"study_info": "",
			"output_file": "T2D_Mahajan_Europeans",
			"traits":
			{
				"T2D_Mahajan_Europeans": ["T2D-2018/Mahajan.NatGenet2018b.T2D.European.txt.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "-1",
			"chr_index": "2",
			"snp_pos_index": "3",
			"pvalue_index": "9",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"effect_index": "7",
			"se_index": "8"
		},
		{
			"study_info": "",
			"output_file": "BMI_GIANT_2018",
			"traits":
			{
				"BMI_GIANT_2018": ["Pulit-et-al-2018/bmi.giant-ukbb.meta-analysis.combined.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR_GIANT_2018",
			"traits":
			{
				"WHR_GIANT_2018": ["Pulit-et-al-2018/whr.giant-ukbb.meta-analysis.combined.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-adj-BMI_GIANT_2018",
			"traits":
			{
				"WHR-adj-BMI_GIANT_2018": ["Pulit-et-al-2018/whradjbmi.giant-ukbb.meta-analysis.combined.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "BMI-Females_GIANT_2018",
			"traits":
			{
				"BMI-Females_GIANT_2018": ["Pulit-et-al-2018/bmi.giant-ukbb.meta-analysis.females.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-Females_GIANT_2018",
			"traits":
			{
				"WHR-Females_GIANT_2018": ["Pulit-et-al-2018/whr.giant-ukbb.meta-analysis.females.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-adj-BMI-Females_GIANT_2018",
			"traits":
			{
				"WHR-adj-BMI-Females_GIANT_2018": ["Pulit-et-al-2018/whradjbmi.giant-ukbb.meta-analysis.females.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "BMI-Males_GIANT_2018",
			"traits":
			{
				"BMI-Males_GIANT_2018": ["Pulit-et-al-2018/bmi.giant-ukbb.meta-analysis.males.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-Males_GIANT_2018",
			"traits":
			{
				"WHR-Males_GIANT_2018": ["Pulit-et-al-2018/whr.giant-ukbb.meta-analysis.males.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-adj-BMI-Males_GIANT_2018",
			"traits":
			{
				"WHR-adj-BMI-Males_GIANT_2018": ["Pulit-et-al-2018/whradjbmi.giant-ukbb.meta-analysis.males.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		}
	]
}
