{
	"genome_build": "hg38",
	"input_base_dir": "/users/mgloud/projects/insulin_resistance/data/gwas/raw/genesis_with_alleles/",
	"output_base_dir": "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/hg38",
	"studies":
	[

                {
                        "study_info": "",
                        "output_file": "MI_adjBMI_European",
                        "traits":
                        {
                                "MI_adjBMI_European": ["ISI_GENESIS_adjAgeSexBMI_JCI_paper_MetaAnalysis_Europeans_hg19.txt"]
                        },
                        "delimiter": "\t",
                        "rsid_index": "1",
                        "pvalue_index": "10",
                        "effect_index": "8",
                        "se_index": "9",
			"direction_index": "8",
                        "effect_allele_index": "2",
                        "non_effect_allele_index": "3"
                },
                {
                        "study_info": "",
                        "output_file": "MI_European",
                        "traits":
                        {
                                "MI_European": ["ISI_GENESIS_adjAgeSex_JCI_paper_MetaAnalysis_Europeans_hg19.txt"]
                        },
                        "delimiter": "\t",
                        "rsid_index": "1",
                        "pvalue_index": "10",
                        "effect_index": "8",
                        "se_index": "9",
			"direction_index": "8",
                        "effect_allele_index": "2",
                        "non_effect_allele_index": "3"
                }
	]
}

