{
	"input_base_dir": "/users/mgloud/projects/insulin_resistance/eriks_bonus/data/Pulit-et-al-2018",
	"output_base_dir": "/users/mgloud/projects/insulin_resistance/eriks_bonus/data/formatted",
	"studies":
	[
		{
			"study_info": "",
			"output_file": "BMI_GIANT_2018",
			"traits":
			{
				"BMI_GIANT_2018": ["bmi.giant-ukbb.meta-analysis.combined.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR_GIANT_2018",
			"traits":
			{
				"WHR_GIANT_2018": ["whr.giant-ukbb.meta-analysis.combined.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-adj-BMI_GIANT_2018",
			"traits":
			{
				"WHR-adj-BMI_GIANT_2018": ["whradjbmi.giant-ukbb.meta-analysis.combined.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "BMI-Females_GIANT_2018",
			"traits":
			{
				"BMI-Females_GIANT_2018": ["bmi.giant-ukbb.meta-analysis.females.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-Females_GIANT_2018",
			"traits":
			{
				"WHR-Females_GIANT_2018": ["whr.giant-ukbb.meta-analysis.females.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-adj-BMI-Females_GIANT_2018",
			"traits":
			{
				"WHR-adj-BMI-Females_GIANT_2018": ["whradjbmi.giant-ukbb.meta-analysis.females.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "BMI-Males_GIANT_2018",
			"traits":
			{
				"BMI-Males_GIANT_2018": ["bmi.giant-ukbb.meta-analysis.males.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-Males_GIANT_2018",
			"traits":
			{
				"WHR-Males_GIANT_2018": ["whr.giant-ukbb.meta-analysis.males.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "",
			"output_file": "WHR-adj-BMI-Males_GIANT_2018",
			"traits":
			{
				"WHR-adj-BMI-Males_GIANT_2018": ["whradjbmi.giant-ukbb.meta-analysis.males.23May2018.txt.gz"] 
			},
			"delimiter": " ",
			"chr_index": "1",
			"snp_pos_index": "2",
			"se_index": "8",
			"effect_index": "7",
			"pvalue_index": "9",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		}
	]
}
