{

       "gwas_groups": 
	{
		"gwas-t2d-tg-ldl":
		{
			"files": [
				"/users/mgloud/projects/insulin_resistance/eriks_bonus/data/formatted/GWAS_HDL_GLGC_EuropeansMaybe.txt.gz",
				"/users/mgloud/projects/insulin_resistance/eriks_bonus/data/formatted/GWAS_T2D_Mahajan_Europeans.txt.gz",
				"/users/mgloud/projects/insulin_resistance/eriks_bonus/data/formatted/GWAS_TG_GLGC_EuropeansMaybe.txt.gz"
			],
			"gwas_cutoff_pvals": [1e-5],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"ir-tissues":
				{
					"cutoff_pvals": [1e-5],
					"windows": [1]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"ir-tissues":
		{
			"files": [
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Liver.allpairs.txt.gz",
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adipose_Subcutaneous.allpairs.txt.gz",
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adipose_Visceral_Omentum.allpairs.txt.gz",
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Muscle_Skeletal.allpairs.txt.gz"
			]
		}
	},
	"output_directory": "/users/mgloud/projects/insulin_resistance/eriks_bonus/output",
	"output_base" : "gwas-t2d-tg-ldl"
}


