{

       "gwas_groups": 
	{
		"gwas-t2d-tg-ldl":
		{
			"files": [
				"/users/mgloud/projects/insulin_resistance/data/gwas/formatted/brunas_sumstats/GWAS_MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
				"/users/mgloud/projects/insulin_resistance/data/gwas/formatted/bonus_sumstats/GWAS_MI_adjBMI.txt.gz"
			],
			"gwas_cutoff_pvals": [1e-5],
			"gwas_windows": [1000000],
			"eqtl_targets":
			{
				"ir-tissues":
				{
					"cutoff_pvals": [1e-5],
					"windows": [10000]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"ir-tissues":
		{
			"files": [
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Liver.allpairs.txt.gz",
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adipose_Subcutaneous.allpairs.txt.gz",
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Adipose_Visceral_Omentum.allpairs.txt.gz",
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Muscle_Skeletal.allpairs.txt.gz"
			]
		}
	},
	"output_directory": "/users/mgloud/projects/insulin_resistance/eriks_bonus/output",
	"output_base" : "mi-isi"
}


