{
	"input_base_dir": "/users/mgloud/projects/insulin_resistance/data/gwas/raw/rams_imputed/MoMeIR_imputed_sumstats",
	"output_base_dir": "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/rams_imputed",
	"studies":
	[
		{
			"study_info": "CAD_Imputed",
			"traits":
			{
				"CAD_Imputed": ["CARDIoGRAM_C4D_CAD_ADDITIVE.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "BMI_Imputed",
			"traits":
			{
				"BMI_Imputed": ["GIANT_2015_BMI_EUR_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "T2D_Imputed",
			"traits":
			{
				"T2D_Imputed": ["DIAGRAM_T2D_TRANS_ETHNIC_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "HDL_Imputed",
			"traits":
			{
				"HDL_Imputed": ["GLGC_Mc_HDL_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "LDL_Imputed",
			"traits":
			{
				"LDL_Imputed": ["GLGC_Mc_LDL_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "TG_Imputed",
			"traits":
			{
				"TG_Imputed": ["GLGC_Mc_TG_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "FastGlu_Imputed",
			"traits":
			{
				"FastGlu_Imputed": ["MAGIC_FastingGlucose_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		},
		{
			"study_info": "FastInsu_Imputed",
			"traits":
			{
				"FastInsu_Imputed": ["MAGIC_ln_FastingInsulin_hg19.sumstat.txt"] 
			},
			"delimiter": "\t",
			"chr_index": "1",
			"snp_pos_index": "3",
			"pvalue_index": "10",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5"
		}
	]
}
