{

       "source_groups": 
	{
		"all-gwas":
		{
			"files": 
			[
				"data/gwas/formatted/sumstats/hg38/*/*.gz"
			],
			"source_cutoff_pvals": [1e-5],
			"source_windows": [500000],
			"lookup_targets":
			{
				"gtex-ir":
				{
					"cutoff_pvals": [1e-5],
					"windows": [10000]
				}
			}
		}
	},
       "lookup_groups": 
	{
		"gtex-ir":
		{
			"files": [
				"data/eqtls/gtex_v8/Adipose*.gz",
				"data/eqtls/gtex_v8/Liver*.gz",
				"data/eqtls/gtex_v8/Muscle_Skeletal*.gz",
				"data/eqtls/gtex_v8/Pancreas*.gz",
				"data/sqtls/gtex_v8/Adipose*.gz",
				"data/sqtls/gtex_v8/Liver*.gz",
				"data/sqtls/gtex_v8/Muscle_Skeletal*.gz",
				"data/sqtls/gtex_v8/Pancreas*.gz",
				"data/tabix_eqtls_aggro/Adipose*.gz",
				"data/tabix_eqtls_aggro/Liver*.gz",
				"data/tabix_eqtls_aggro/Muscle-Skeletal*.gz",
				"data/tabix_eqtls_aggro/Pancreas*.gz"
			]
		}
	},
	"output_nonpassing_pairs": "True",
	"output_directory": "output/test_snps/ir-v8",
	"output_base" : "ir-v8-extended"
}
