{
	"coloc_file": "output/post_coloc/2020-05-11/refiltered/eqtls_and_sqtls/clpp_results_categorized_2020-05-11.txt",
	"out_folder_prefix": "output/post_coloc/plots/heatmaps/",
	"qtl_types": 
	{
		"eqtl": 
		{
			"data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz": "AdpSQ",
			"data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz": "AdpV",
			"data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz": "MuSk",
			"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": "Liv",
			"data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz": "Panc"
		},
		"sqtl":
		{
			"data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz": "AdpSQ",
			"data/sqtls/gtex_v8/Liver.sQTLs.txt.gz": "Liv",
			"data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz": "MuSk",
			"data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz": "AdpV",
			"data/sqtls/gtex_v8/Pancreas.sQTLs.txt.gz": "Panc"
		}
	},
	"tissue_order": ["AdpSQ", "AdpV",  "MuSk", "Liv", "Panc"],
	"gwas_labels":
	{
		"data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz": "HDL",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Xue_2018/Type-2-Diabetes_Xue_2018.txt.gz": "T2D-Xue",
		"data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz": "BMI",
		"data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz": "TG",
		"data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz": "WHR",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Spracklen_2020/Type-2-Diabetes_Spracklen_2020.txt.gz": "T2D-Spracklen",
		"data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz": "T2D-Mahajan",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Suzuki_2019/Type-2-Diabetes_Suzuki_2019.txt.gz": "T2D-Suzuki",
		"data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz": "ISI_Genesis",
		"data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": "ISI_MAGIC",
		"data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz": "FastGlu",
		"data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz": "FastInsu"
	},
	"gwas_order": ["ISI_Genesis", "ISI_MAGIC", "FastInsu", "FastGlu", "T2D-Mahajan","T2D-Suzuki", "T2D-Xue", "T2D-Spracklen","WHR","HDL","TG","BMI"],
	"cluster": "False",
	"put_scores_in_cells": "True",
	"y_axis_collapse": "none",
	"x_axis_collapse": "none",
	"locus_selection_list": [231, 380, 460, 501, 739, 828, 870, 882, 1122, 1281, 1720],
	"file_strata":
	[
		{
			"out_dir": "figure3/figure3-T2D-and-others/concise",
			"concise": "True",
			"gwas_remapping":
			{
				"remaps": 
				{
					"T2D-Mahajan": "T2D",
					"T2D-Suzuki": "T2D",
					"T2D-Xue": "T2D",
					"T2D-Spracklen": "T2D"
				},
				"new_order": ["ISI_Genesis", "ISI_MAGIC", "FastInsu", "FastGlu", "T2D","WHR","HDL","TG","BMI"]
			},
			"gwas_blacklist": ["ISI_Genesis", "ISI_MAGIC"]	
		},
		{
			"out_dir": "figure3/figure3-T2D-and-others/standard",
			"concise": "False",
			"gwas_remapping":
			{
				"remaps": 
				{
					"T2D-Mahajan": "T2D",
					"T2D-Suzuki": "T2D",
					"T2D-Xue": "T2D",
					"T2D-Spracklen": "T2D"
				},
				"new_order": ["ISI_Genesis", "ISI_MAGIC", "FastInsu", "FastGlu", "T2D","WHR","HDL","TG","BMI"]
			},
			"gwas_blacklist": ["ISI_Genesis", "ISI_MAGIC"]	
		}	
	]
}
