{
        "out_dir": "output/colocalization/raw/ir-v8",
	"tmp_dir": "/srv/scratch/mgloud/brain_gwas/tmp",

	"eqtl_threshold": 
		1,

	"plot_none":
		"True",

	"gwas_experiments": 
	{	
		"data/gwas/formatted/sumstats/hg38/*/*.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}
	},

	"eqtl_experiments": 
	{
		"data/eqtls/gtex_v8/Muscle*.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Adipose*.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Muscle*.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Liver.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Adipose*.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Pancreas.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/tabix_eqtls_aggro/Muscle*.Fisher.combined.sorted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/tabix_eqtls_aggro/Liver.Fisher.combined.sorted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/tabix_eqtls_aggro/Adipose*.Fisher.combined.sorted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/tabix_eqtls_aggro/Pancreas.Fisher.combined.sorted.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},

	"selection_basis": 
		{"overlap_loci": "output/test_snps/ir-v8/ir-v8-extended-coloc-tests-no-edQTL.txt"},

	"methods": 
	{
		"finemap":{}
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
                                "data/1KG/ALL.chr{0}_GRCh38.genotypes.20170504.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}

