{
	"analysis_date": "2020-05-11",
	"gwas_aliases":
	{
		"WHR-adj-BMI_GIANT_2018_txt_gz" : "data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz",
		"FastInsu_adjBMI_MAGIC_Europeans_txt_gz" : "data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
		"FastGlu_MAGIC_Europeans_txt_gz" : "data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz",
		"BMI_GIANT_2018_txt_gz" : "data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz",
		"MI_adjBMI_European_txt_gz" : "data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz",
		"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz" : "data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
		"HDL_GLGC_Expanded_txt_gz" : "data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz",
		"TG_GLGC_Expanded_txt_gz": "data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz",
		"T2D_Mahajan_Europeans_txt_gz" : "data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz",
		"Type-2-Diabetes_Xue_2018_txt_gz" : "data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Xue_2018/Type-2-Diabetes_Xue_2018.txt.gz",
		"Type-2-Diabetes_Spracklen_2020_txt_gz" : "data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Spracklen_2020/Type-2-Diabetes_Spracklen_2020.txt.gz",
		"Type-2-Diabetes_Suzuki_2019_txt_gz" : "data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Suzuki_2019/Type-2-Diabetes_Suzuki_2019.txt.gz"
	},

	"gwas_short_names":
	{
		"data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz": "BMI",
                "data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz": "Fasting-Glucose",
                "data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz": "Fasting-Insulin-BMI-Adjusted",
                "data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz" : "High-Density-Lipoprotein",
                "data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz": "Triglycerides",
                "data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz": "M-I",
                "data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": "Insulin-Sensitivity-Index-Model-2",
                "data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz": "Type-2-Diabetes_Mahajan",
                "data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz": "Waist-Hip-Ratio-BMI-Adjusted",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Xue_2018/Type-2-Diabetes_Xue_2018.txt.gz": "Type-2-Diabetes_Xue",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Spracklen_2020/Type-2-Diabetes_Spracklen_2020.txt.gz": "Type-2-Diabetes_Spracklen",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Suzuki_2019/Type-2-Diabetes_Suzuki_2019.txt.gz": "Type-2-Diabetes_Suzuki"
	},

	"eqtl_aliases":
	{
		"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz",
		"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz",
		"Liver_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz",
		"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz",
		"Pancreas_allpairs_txt_gz_eQTLs_txt_gz": "data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz"
	},

	"eqtl_short_names":
	{
		"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": "Liver-eQTL",
                "data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz": "Visceral-Adipose-eQTL",
                "data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz": "Subcutaneous-Adipose-eQTL",
                "data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz": "Skeletal-Muscle-eQTL",
                "data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz": "Pancreas-eQTL"
	},

	"kept_traits":
	[
		"data/gwas/formatted/sumstats/hg38/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz",
                "data/gwas/formatted/sumstats/hg38/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz",
                "data/gwas/formatted/sumstats/hg38/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
                "data/gwas/formatted/sumstats/hg38/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz",
                "data/gwas/formatted/sumstats/hg38/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz",
                "data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz",
                "data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
                "data/gwas/formatted/sumstats/hg38/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz",
                "data/gwas/formatted/sumstats/hg38/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Xue_2018/Type-2-Diabetes_Xue_2018.txt.gz",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Spracklen_2020/Type-2-Diabetes_Spracklen_2020.txt.gz",
		"data/gwas/formatted/sumstats/hg38/Type-2-Diabetes_Suzuki_2019/Type-2-Diabetes_Suzuki_2019.txt.gz"
	],

	"kept_eqtls":
	[
		"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz",
                "data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz"
	],
	
	"gwas_snp_list": "output/test_snps/ir-v8/ir-v8-extended_all-gwas_source-pval1e-05_source-window500000_snps-considered.txt",
	"snp_gene_pair_list": "output/test_snps/ir-v8/ir-v8-extended_all-gwas_gtex-ir_source-pval1e-05_lookup-pval1e-05_source-window500000_lookup-window10000_snp-trait-pairs-considered.txt",
	"coloc_test_list": "output/test_snps/ir-v8/ir-v8-extended_all-gwas_gtex-ir_source-pval1e-05_lookup-pval1e-05_source-window500000_lookup-window10000_coloc-tests.txt",

	"coloc_out_dirs": ["output/colocalization/raw/ir-v8/2020-05-11_20-57-08.433911_ir-t2d-extended/"],

	"out_dir": "output/post_coloc/2020-05-11/refiltered/eqtls_only",

	"classification_config_file": "scripts/post_coloc/classify_results/eqtls_2020-05-11.class.config",

	"target_clpp_mod_cutoff": "0.4",

	"gwas_pval_threshold":
	{
		"standard": 5e-8,
		"exceptions":
		{
			"data/gwas/formatted/sumstats/hg38/MI_adjBMI_European/MI_adjBMI_European.txt.gz": 1e-5,
			"data/gwas/formatted/sumstats/hg38/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": 1e-5
		}
	},
	"eqtl_pval_threshold":
	{
		"standard": 1e-5
	},
	"min_locus_distance": "1000000"
}
