{
        "out_dir": "output/post_coloc/plots/locus_compare",
	"tmp_dir": "output/post_coloc/plots/locus_compare/finemapping_tmp",

	"eqtl_threshold": 
		1,

	"plot_all":
		"True",

	"plot_only":
		"True",

	"debug":
		"True",

	"gwas_experiments": 
	{	
		"data/gwas/formatted/sumstats/hg38/*/*.gz": {"ref": "1kgenomes", "gwas_format": "pval_only"}
	},

	"eqtl_experiments": 
	{
		"data/eqtls/gtex_v8/Muscle*.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Adipose*.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/eqtls/gtex_v8/Pancreas.allpairs.txt.gz.eQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Muscle*.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Liver.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Adipose*.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"},
		"data/sqtls/gtex_v8/Pancreas.sQTLs.txt.gz": {"ref": "1kgenomes", "eqtl_format": "effect_size"}
	},

	"selection_basis": 
		{"overlap_loci": "output/post_coloc/2020-05-11/refiltered/eqtls_and_sqtls/locus_compare_list.txt"},

	"methods": 
	{
	},

        "ref_genomes": 
	{
		"1kgenomes": 
		{
			"file": 
                                "data/1KG/ALL.chr{0}_GRCh38.genotypes.20170504.vcf.gz",

                	"af_attribute": 
				"AF",

                        "N": 
				2504
	        }
        }
}

