{
	"analysis_date": "2019-09-09",
	"gwas_aliases":
	{
		"WHR-adj-BMI_GIANT_2018_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz",
		"FastInsu_adjBMI_MAGIC_Europeans_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
		"FastGlu_MAGIC_Europeans_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz",
		"BMI_GIANT_2018_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz",
		"MI_adjBMI_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MI_adjBMI/MI_adjBMI.txt.gz",
		"MAGIC_ISI_Model_2_AgeSexBMI_txt_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
		"HDL_GLGC_Expanded_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz",
		"TG_GLGC_Expanded_txt_gz": "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz",
		"T2D_Mahajan_Europeans_txt_gz" : "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz"
	},

	"gwas_short_names":
	{
		"/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz": "BMI",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz": "Fasting-Glucose",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz": "Fasting-Insulin-BMI-Adjusted",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz" : "High-Density-Lipoprotein",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz": "Triglycerides",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MI_adjBMI/MI_adjBMI.txt.gz": "M-I",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": "Insulin-Sensitivity-Index-Model-2",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz": "Type-2-Diabetes",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz": "Waist-Hip-Ratio-BMI-Adjusted"
	},

	"eqtl_aliases":
	{
		"Adipose_Subcutaneous_allpairs_txt_gz_eQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz",
		"Adipose_Visceral_Omentum_allpairs_txt_gz_eQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz",
		"Adipose_Subcutaneous_sQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz",
		"Adipose_Visceral_Omentum_sQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz",
		"Liver_allpairs_txt_gz_eQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz",
		"Muscle_Skeletal_allpairs_txt_gz_eQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz",
		"Muscle_Skeletal_sQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz",
		"Liver_sQTLs_txt_gz": "/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Liver.sQTLs.txt.gz"
	},

	"eqtl_short_names":
	{
		"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Liver.allpairs.txt.gz.eQTLs.txt.gz": "Liver-eQTL",
                "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Adipose_Visceral_Omentum.allpairs.txt.gz.eQTLs.txt.gz": "Visceral-Adipose-eQTL",
                "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Adipose_Subcutaneous.allpairs.txt.gz.eQTLs.txt.gz": "Subcutaneous-Adipose-eQTL",
                "/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v8/Muscle_Skeletal.allpairs.txt.gz.eQTLs.txt.gz": "Skeletal-Muscle-eQTL",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz": "Visceral-Adipose-sQTL",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Liver.sQTLs.txt.gz": "Liver-sQTL",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz": "Subcutaneous-Adipose-sQTL",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz": "Skeletal-Muscle-sQTL"
	},

	"kept_traits":
	[
		"/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/BMI_GIANT_2018/BMI_GIANT_2018.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/FastGlu_MAGIC_Europeans/FastGlu_MAGIC_Europeans.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/FastInsu_adjBMI_MAGIC_Europeans/FastInsu_adjBMI_MAGIC_Europeans.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/HDL_GLGC_Expanded/HDL_GLGC_Expanded.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/TG_GLGC_Expanded/TG_GLGC_Expanded.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MI_adjBMI/MI_adjBMI.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/T2D_Mahajan_Europeans/T2D_Mahajan_Europeans.txt.gz",
                "/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/WHR-adj-BMI_GIANT_2018/WHR-adj-BMI_GIANT_2018.txt.gz"
	],

	"kept_eqtls":
	[
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Adipose_Visceral_Omentum.sQTLs.txt.gz",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Liver.sQTLs.txt.gz",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Adipose_Subcutaneous.sQTLs.txt.gz",
		"/users/mgloud/projects/brain_gwas/data/sqtls/gtex_v8/Muscle_Skeletal.sQTLs.txt.gz"
	],
	
	"gwas_snp_list": "/users/mgloud/projects/insulin_resistance/output/test_snps/ir-v8_all-gwas_gwas-pval1e-05_gwas-window500000_snps-considered.txt",
	"snp_gene_pair_list": "/users/mgloud/projects/insulin_resistance/output/test_snps/ir-v8_all-gwas_gtex-ir_gwas-pval1e-05_eqtl-pval1e-05_gwas-window500000_eqtl-window0_snp-gene-pairs-considered.txt",
	"coloc_test_list": "/users/mgloud/projects/insulin_resistance/output/test_snps/ir-v8_all-gwas_gtex-ir_gwas-pval1e-05_eqtl-pval1e-05_gwas-window500000_eqtl-window0_coloc-tests.txt",

	"coloc_out_dir": "/users/mgloud/projects/brain_gwas/output/ir-v8/",

	"out_dir": "/users/mgloud/projects/insulin_resistance/output/post_coloc/sqtls_only/",

	"gwas_neg_log_pval_threshold":
	{
		"standard": 5e-8,
		"exceptions":
		{
			"/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MI_adjBMI/MI_adjBMI.txt.gz": 1e-5,
			"/users/mgloud/projects/insulin_resistance/data/gwas/formatted/sumstats/MAGIC_ISI_Model_2_AgeSexBMI.txt/MAGIC_ISI_Model_2_AgeSexBMI.txt.txt.gz": 1e-5
		}
	},
	"eqtl_neg_log_pval_threshold":
	{
		"standard": 1e-5
	}
}
