{
	"input_base_dir": "/users/mgloud/projects/insulin_resistance/eriks_bonus/data/raw",
	"output_base_dir": "/users/mgloud/projects/insulin_resistance/eriks_bonus/data/formatted",
	"studies":
	[
		{
			"study_info": "",
			"output_file": "HDL_GLGC_EuropeansMaybe",
			"rsid_split":
			{
				"splitter": ":",
				"index": "1"
			},
			"traits":
			{
				"HDL_GLGC_EuropeansMaybe": ["hdl.glgc+mvp.12jun2019.fe-invvar-meta1.tbl.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"se_index": "9",
			"beta_index": "9",
			"pvalue_index": "10",
			"direction_index": "8",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},
		{
			"study_info": "",
			"output_file": "TG_GLGC_EuropeansMaybe",
			"rsid_split":
			{
				"splitter": ":",
				"index": "1"
			},
			"traits":
			{
				"TG_GLGC_EuropeansMaybe": ["tg.glgc+mvp.12jun2019.fe-invvar-meta1.tbl.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "1",
			"se_index": "9",
			"beta_index": "9",
			"pvalue_index": "10",
			"direction_index": "8",
			"effect_allele_index": "2",
			"non_effect_allele_index": "3"
		},
		{
			"study_info": "",
			"output_file": "T2D_Mahajan_Europeans",
			"traits":
			{
				"T2D_Mahajan_Europeans": ["Mahajan.NatGenet2018b.T2D.European.txt.gz"] 
			},
			"delimiter": "\t",
			"rsid_index": "-1",
			"chr_index": "2",
			"snp_pos_index": "3",
			"pvalue_index": "9",
			"direction_index": "7",
			"effect_allele_index": "4",
			"non_effect_allele_index": "5",
			"beta_index": "7",
			"se_index": "4"
		}
	]
}
